
@using System.Globalization;
@using System.Threading;
@model Web.Models.GeneralViewModel

<h4>Погода у @Model.CurrentWeather.name     @*@ViewBag.PassedIdTMP*@</h4>

@{ Thread.CurrentThread.CurrentCulture = new CultureInfo("uk-UA");}

<h4> @Model.CurrentWeather.date.ToString("dd MMMM")</h4>
@*<h4>@Model.CurrentWeather.date.ToString("dddd")</h4>*@


<div class="row">
	@Html.LabelFor(model => model.CurrentWeather.main.temp, htmlAttributes: new { @class = "control-label col-md-2" })
	<div class="col col-md-4">@(Model.CurrentWeather.main.temp)℃</div>
</div>

<div class="row">
	@Html.LabelFor(model => model.CurrentWeather.main.temp_max, htmlAttributes: new { @class = "control-label col-md-2" })
	<div class="col col-md-4">@(Model.CurrentWeather.main.temp_max)℃</div>
</div>

<div class="row">
	@Html.LabelFor(model => model.CurrentWeather.main.temp_min, htmlAttributes: new { @class = "control-label col-md-2" })
	<div class="col col-md-4">@(Model.CurrentWeather.main.temp_min)℃</div>
</div>

<div class="row">
	<div class="col col-md-8"><label>Опади:</label></div>
</div>

<div class="row">
	@foreach (var item in Model.CurrentWeather.weather)
	{
		string iconsrc = "http://openweathermap.org/img/w/" + item.icon + ".png";

			<div class="col col-md-2"> <img src="@iconsrc" /></div>
			<div class="col col-md-4">				
				<span >@item.description</span>
			</div>
		
	}
</div>


<div class="row">
	@Html.LabelFor(model => model.CurrentWeather.main.humidity, htmlAttributes: new { @class = "control-label col-md-2" })
	<div class="col col-md-4">@(Model.CurrentWeather.main.humidity)%</div>
</div>
<div class="row">
	@Html.LabelFor(model => model.CurrentWeather.main.pressure, htmlAttributes: new { @class = "control-label col-md-2" })
	<div class="col col-md-4">@(Model.CurrentWeather.main.pressure)</div>
</div>



@*прогноз погоди на 6 днів*@
<hr />
<div class="row">
	
	@foreach (Web.Models.ForecastVM.List item in Model.Forecast.list)
		{
			string iconsrc = "http://openweathermap.org/img/w/" + item.weather[0].icon + ".png";
			<div class="col col-md-2">
				<label>@item.date.ToString("dd.MM")</label>
				<label class="col col-md-12"><img src="@iconsrc" /><br /></label>
				<label class="col col-md-12">@item.weather[0].description</label> <br />
				<label class="col col-md-12">@item.temp.day℃</label>
			</div>
		}

</div>

